<div style="width: 100%; text-align: center">
    <h1>Available accounts</h1>
    <h2>Accounts that user consented</h2>
    
    <br>
    <br>

    <% for (account of accounts) { %>

    <h3> <%= account[0].accountName %> <%= account[0].IBAN %> <%= account[0].accountId %> </h3>

    <% } %>

    <br>

    <hr>
    <hr>

    <button onclick="location.href = '/'">Go back</button>
</div>