<div style="width: 100%; text-align: center">
    <h1>Account details</h1>
    <h2>Details for account: <%= account.accountId %> </h2>
    
    <br>
    <br>

    <h3> Account balance </h3>
    <h4> Currency: <%= account.currency %> </h4>
    <h4> Available balance: <%= account.balances[0].amount %> </h4>
    <h4> Current balance: <%= account.balances[1].amount %> </h4>

    <br>

    <hr>
    <hr>

    <button onclick="location.href = '/'">Go back</button>
</div>