<link rel="stylesheet" type="text/css" href="/css/style.css">

<div style="width: 100%; text-align: center">
  <div class="header">
      <img src="/img/sdk_boc_logo.png">
  </div>
  <hr>

<div style="width: 100%; text-align: center">
    <h1>Payment information</h1>
    <h2>Status of the payment with id: <%= paymentId %></h2> 
    
    <br>
    <br>

    <h3>Status: <%= result.code %></h3>
    <h3>Description: <%= result.description %></h3>

    <hr>
    <br>

    <button onclick="location.href = '/'">Go back</button>
</div>
</div>

<!-- <script>
setTimeout(
    function() {
      location.href = '/'
    }, 5000);
</script> -->

